<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="bigbox">
    <div class="littlebox" (click)="showTime(-8)">PST</div>
    <div class="littlebox" (click)="showTime(-7)">MST</div>
    <div class="littlebox" (click)="showTime(-6)">CST</div>
    <div class="littlebox" (click)="showTime(-5)">EST</div>
    <div class="littlebox" (click)="showTime(0)">Clear</div>
  </div>
  <h2>
    {{ timeText }}
  </h2>
</div>



